@charset "UTF-8";
/* コピペ用コード */
:root {
  /* フォントサイズ */
  --font-10: 0.625rem; /* 12px */
  --font-12: 0.75rem; /* 12px */
  --font-13: 0.8125rem; /* 13px */
  --font-14: 0.875rem; /* 14px */
  --font-16: 1rem; /* 16px */
  --font-20: 1.25rem; /* 20px */
  --font-24: 1.5rem; /* 24px */
  --font-28: 1.75rem; /* 28px */
  --font-32: 2rem; /* 32px */
  --font-36: 2.25rem; /* 36px */

  /* 文字カラー */
  --font-black: #000;
  --font-white: #fff;

  /* ラインカラー */
  --line-black: #000;
  --line-white: #fff;

  /* 背景色 */
  --bg-main: #e6e2d7;
  --bg-footer: #000;
  --bg-yellow: rgba(249, 233, 6, 0.6);
  --bg-red: rgba(149, 42, 38, 0.6);

  /* ボタンカラー */
  --btn-color: #4b4b4b;
}

/* メディアクエリ */
/* @media screen and (max-width: 768px) {
} */

/* 共通 */
body {
  font-family: 'Noto Serif JP', serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--font-color);
}

a {
  color: var(--font-color);
}

.hidden {
  display: none;
}

/* 縦書き */
.vertical-txt {
  writing-mode: vertical-rl;
}

/* セクションタイトル */
.sec__ttl {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: var(--font-36);
  font-weight: 400;
  line-height: 1.11;
}

/* セクションタイトル英語 */
.sec__ttl--en {
  display: block;
  font-size: var(--font-14);
  line-height: 1;
}

/* サブセクションタイトル */
.sub-sec__ttl {
  font-size: var(--font-32);
  line-height: 1.1;
  letter-spacing: 0.1em;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 18px;
}
@media screen and (max-width: 768px) {
  .sub-sec__ttl {
    font-size: var(--font-24);
    line-height: 1;
  }
}

/* サブセクションタイトル英語 */
.sub-sec__ttl--en {
  font-size: var(--font-14);
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .sub-sec__ttl--en {
    display: none;
  }
}

/* コンテンツ幅 */
.sec__inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

/* header */
.header {
  width: 100%;
  color: var(--font-white);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.header__inner {
  display: flex;
  flex-direction: row-reverse;
  padding: 60px 80px 30px 40px;
}
@media screen and (max-width: 768px) {
  .header__inner {
    height: 100vh;
    padding: 20px;
  }
}

.header-logo {
  margin-left: 60px;
}

.gnav__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.header__link--bg {
  background: rgba(255, 255, 255, 0.2);
  margin-right: auto;
  padding: 8px;
}
@media screen and (max-width: 768px) {
  .header__link--bg {
    margin-right: auto;
    margin-top: auto;
  }
}

.header__link {
  padding: 30px 18px;
  border: 1px solid var(--line-white);
}

/* main  */
.main {
  background: var(--bg-main);
}

.main-visual {
  position: relative;
  margin-bottom: 180px;
}
@media screen and (max-width: 768px) {
  .main-visual {
    margin-bottom: 80px;
  }
}

.main-visual__img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* お知らせ news */
.news__inner {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-left: auto;
  margin-bottom: 180px;
}
@media screen and (max-width: 768px) {
  .news__inner {
    gap: 30px;
    margin-bottom: 80px;
  }
}

.news__list {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.news__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 30px;
  border-right: 1px solid var(--line-black);
}
@media screen and (max-width: 768px) {
  .news__item {
    display: none;
  }

  .news__item:nth-child(-n + 3) {
    padding: 15px 12px;
    display: block;
  }
}

.news__item:last-of-type {
  border-left: 1px solid var(--line-black);
}

/* 商品のご紹介 product */
.product__inner {
  display: flex;
  flex-direction: column;
  gap: 280px;
  margin-bottom: 180px;
}
@media screen and (max-width: 768px) {
  .product__inner {
    gap: 170px;
    margin-bottom: 100px;
  }
}

.sub-sec__inner {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .sub-sec__inner {
    gap: 10px;
  }
}

.sub-sec__inner--reverse {
  flex-direction: row-reverse;
}

.sub-sec__content {
  width: 65%;
  position: relative;
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
  .sub-sec__content {
    padding-top: 70px;
    width: 100%;
  }
}

.sub-sec__desc {
  font-size: var(--font-16);
  line-height: 1.4375;
  color: var(--font-white);
  padding: 50px 0;
  position: absolute;
  text-align: center;
  width: 56%;
}
@media screen and (max-width: 768px) {
  .sub-sec__desc {
    font-size: var(--font-14);
    line-height: 1.143;
    padding: 30px 40px;
    height: 90px;
    width: 63.8%;
  }
}

.sub-sec__desc.bg-yellow {
  background: var(--bg-yellow);
  left: -20px;
  bottom: -20px;
}

.sub-sec__desc.bg-red {
  background: var(--bg-red);
  right: -20px;
  bottom: -20px;
}

.sub-sec__img {
  object-fit: contain;
  height: auto;
}

/* store */
.store__inner {
  width: 100%;
}

.gmap_iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: 450px;
}

/* footer */
.footer {
  background: var(--bg-footer);
  color: var(--font-white);
}

.footer__inner {
  padding: 80px 80px 30px 30px;
}
@media screen and (max-width: 768px) {
  .footer__inner {
    padding: 40px 20px 30px;
  }
}

.footer__inner--top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-left: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .footer__inner--top {
    gap: 25px;
  }
}

.footer__logo {
  margin-left: 60px;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    margin-left: 0;
  }
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: var(--font-14);
}
@media screen and (max-width: 768px) {
  .footer__address {
    gap: 7px;
  }
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: var(--font-16);
}
@media screen and (max-width: 768px) {
  .footer-nav__list {
    gap: 10px;
  }
}

.footer__link-list {
  display: flex;
  margin-right: auto;
  gap: 1em;
  font-size: var(--font-14);
}

.link-list__item {
  position: relative;
}

.link-list__item:not(:last-of-type)::after {
  position: absolute;
  content: '';
  background: var(--line-white);
  height: 0.5px;
  width: 14px;
  margin: 0.5em 0;
}

.footer__copyright {
  display: block;
  font-size: var(--font-10);
  text-align: center;
}
